<div class="container margin-narrow">

  <h4>Projects <span class="pull-right"><button class="btn-add btn btn-brand fa fa-plus" data-toggle="modal" data-target="#addNewGroup"></button></span></h4>

  <br>
  <div class="form-group form-group-label">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <label class="floating-label">Search</label><input autofocus class="form-control" placeholder="Search" type="text" ng-model="q" required />
      </div>
    </div>
  </div>
  <br>

  <ul class="nav">
    <li class="group-item" ng-repeat="group in groups | filter: q track by group.group_id">
      <a ui-sref="app.passlist({id: group.group_id, name: group.group_name})">{{ group.group_name }}</a>
      <button class="btn btn-brand pull-right" ng-click="openDeleteModal('#deleteModal', 'selectedGroup', group)">DEL</button>
    </li>
  </ul>

</div>

<div aria-hidden="true" class="modal modal-va-middle fade" id="addNewGroup" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-heading"><h4>Enter Project name</h4></div>
        <div class="modal-inner">
        <input class="form-control" type="text" ng-model="newGroup.name" required />
      </div>
      <div class="modal-footer" style="margin-bottom: 10px;">
        <button class="btn btn-flat btn-red" tabindex="-1" data-dismiss="modal">Close</button>
        <button class="pull-right btn btn-flat btn-brand" data-dismiss="modal" ng-click="create_group(newGroup.name); newGroup = {}">Add</button>
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" class="modal modal-va-middle fade" id="deleteModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-heading"><h4>Delete Confirmation</h4></div>
      <div class="modal-inner">
        Are you sure you want to delete "{{ selectedGroup.group_name }}" project?
      </div>
      <div class="modal-footer" style="margin-bottom: 10px;">
        <button class="btn btn-flat btn-red" tabindex="-1" data-dismiss="modal">Close</button>
        <button class="pull-right btn btn-flat btn-brand" data-dismiss="modal" ng-click="deleteGroup()">Yes</button>
      </div>
    </div>
  </div>
</div>


<div aria-hidden="true" class="modal modal-va-middle fade" id="addNewPasswordModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-heading"><h4 style="margin-top: 12px;">{{ newLogin.id ? 'Edit login' : 'Add new Login' }}</h4></div>
      <div class="modal-inner">
        <form novalidate name="loginDetailForm">
          <div class="form-group form-group-label">
            <div class="row">
              <div class="col-md-12"><label>Service Name</label><input class="form-control" type="text" ng-model="newPassword.cred.service_name" required /></div>
            </div>
          </div>
          <div class="form-group form-group-label">
            <div class="row">
              <div class="col-md-12"><label>Service Url</label><input class="form-control" type="url" ng-model="newPassword.cred.service_url" /></div>
            </div>
          </div>
          <div class="form-group form-group-label">
            <div class="row">
              <div class="col-md-12"><label>Username</label><input class="form-control" type="text" ng-model="newPassword.cred.username" required /></div>
            </div>
          </div>
          <div class="form-group form-group-label">
            <div class="row">
              <div class="col-md-12"><label>Password</label><input class="form-control" type="text" ng-model="newPassword.cred.password" required /></div>
            </div>
          </div>
          <div class="form-group form-group-label">
            <div class="row">
              <div class="col-md-12"><label>Notes</label><input class="form-control" type="text" ng-model="newPassword.cred.notes" /></div>
            </div>
          </div>
          <div class="form-group form-group-label">
            <div class="row">
              <div class="col-md-12"><label>Folder</label>
                <select class="form-control" ng-model="newPassword.folder" required>
                  <option ng-repeat="folder in folders" value="{{ folder.group_id }}">{{ folder.group_name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-block btn-red waves-attach waves-light" tabindex="-1" ng-click="resetPassword()">Clear</button>
              </div>
              <div class="col-md-6">
                <button ng-if="!isEdit" class="btn btn-block btn-brand waves-attach waves-light" ng-disabled="newpassform.$invalid" ng-click="create(newPassword)">Create</button>
                <button ng-if="isEdit" class="btn btn-block btn-brand waves-attach waves-light" ng-disabled="newpassform.$invalid" ng-click="update(newPassword)">Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
