<div class="container margin-narrow">
	<form class="form col-md-6 col-sm-6 col-xs-12" novalidate name="newledgerentryform">
		<h4>New Ledger Entry</h4>

		<div class="form-group form-group-label">
			<div class="row">
				<div class="col-md-12"><label>Date</label><input class="form-control" type="text" ng-model="ledgerForm.date" required /></div>
			</div>
		</div>

		<div class="form-group form-group-label">
			<div class="row">
				<div class="col-md-12"><label>Perticular</label><input class="form-control" type="text" ng-model="ledgerForm.perticular" required /></div>
			</div>
		</div>

		<div class="form-group form-group-label">
			<div class="row">
				<div class="col-md-12"><label>Amount</label><input class="form-control" type="number" ng-model="ledgerForm.amount" required /></div>
			</div>
		</div>

		<div class="form-group form-group-label">
			<div class="row">
				<div class="col-md-12"><label>Type</label>
					<select class="form-control" ng-model="ledgerForm.type" required>
						<option value="credit">Credit</option>
						<option value="debit">Debit</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group form-group-label">
			<div class="row">
				<div class="col-md-12"><label>Notes</label><input class="form-control" type="text" ng-model="ledgerForm.notes" /></div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					<button class="btn btn-block btn-brand waves-attach waves-light" ng-disabled="newledgerentryform.$invalid" ng-click="logEntry()">Create Entry</button>
				</div>
			</div>
		</div>
	</form>

	<div class="col-md-12">
		<h2 class="pull-right">Total : {{ ledgerTotal || 0 }}</h2>
	</div>

	<table class="table" name="list all ledger entry">
		<thead>
			<tr>
				<th>Date</th>
				<th>Perticular</th>
				<th>Type</th>
				<th>Amount</th>
				<th>Notes</th>
				<th>Transacted By</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="data in dataSet track by data.id">
				<td>{{ data.date | date:"short" }}</td>
				<td>{{ data.perticular }}</td>
				<td>{{ data.type }}</td>
				<td>{{ data.amount }}</td>
				<td>{{ data.notes }}</td>
				<td>{{ data.transactionBy }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div aria-hidden="true" class="modal modal-va-middle fade" id="deleteLoginModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-heading"><h4>Delete Confirmation</h4></div>
      <div class="modal-inner">
        Are you sure you want to delete "{{ selectedUser.username }}" user?
      </div>
      <div class="modal-footer" style="margin-bottom: 10px;">
        <button class="btn btn-flat btn-red" tabindex="-1" data-dismiss="modal">Close</button>
        <button class="pull-right btn btn-flat btn-brand" data-dismiss="modal" ng-click="deleteUser()">Yes</button>
      </div>
    </div>
  </div>
</div>
